{% load static %}

<!DOCTYPE html> <!--Arquivo base que posso importar nos outros arquivos html, tudo que alterar aqui vai alterar aonde eu estendi esse arquivo-->
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ReservaAzevedo</title> <!--Aula 7-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" /> <!--Referenciando o nosso arquivo css usando o django-->
</head>
<body>
    <nav>Barra de Navegação</nav>
    {% block body %} <!--Temos um bloco-->
    {% endblock %}
</body>
</html>