{% load static %}

<!DOCTYPE html> <!--Arquivo base que posso importar nos outros arquivos html, tudo que alterar aqui vai alterar aonde eu estendi esse arquivo-->
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ReservaAzevedo</title> <!--Aula 7-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"> <!--Referenciando o nosso arquivo css usando o django-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css" integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    {% include 'navbar.html' %} <!--Criamos um arquivo separado para nossa navbar - Aula 10-->
    {% block body %} <!--Temos um bloco-->
    {% endblock %}

    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</body>
</html>