{% load static %}

<nav>
    <a href="{% url 'homepage' %}">Reserva</a>
    <a href="{% url 'loja' %}">Loja</a>
    <div style="display: flex;">
        {% for categoria in categorias_navegacao %}
        <div>
            <a href="{% url 'loja' %}{{ categoria.slug }}">{{ categoria.nome }}:</a>
            <br>
            {% for tipo in tipos_navegacao %}
                <a href="{% url 'loja' %}{{ categoria.slug}}-{{ tipo.slug }}">{{ tipo.nome }}</a> <!--Alterei de nome para slug para ficar mais apresentável o link para o cliente-->
            {% endfor %}
        </div>
        {% endfor %}
        
    </div>

    {% if not request.user.is_authenticated %}
        <a href="{% url 'fazer_login' %}">Login</a>
    {% else %}
        <a href="{% url 'minha_conta' %}">Minha Conta</a>
    {% endif %}

    <a href="{% url 'carrinho' %}">Carrinho</a>
    <a href="{% url 'carrinho' %}">
        <img src="{% static 'images/carrinho.png' %}" width="30px" height="30px">
    </a>
    {{ quantidade_produtos_carrinho }}

    
</nav>