{% extends "base.html" %} <!--Estou estendendo a base html-->
{% load static %}

{% block body %}

    <h3>{{ produto.nome }}</h3>

    {% if tem_estoque  %}

        <img src="{{ produto.imagem.url }}" width="300" height="400"> <!--Forma de carregar uma imagem, usando o link dela-->
        <p> Produto: {{ produto.nome }}</p>
        <p> Preço: {{ produto.preco }}</p>

        {% if nome_cor_selecionada %}
            Cor: {{ nome_cor_selecionada }}
        {% endif %}

        {% for cor in cores %}
        {% comment %} {{ cor.nome }} {% endcomment %}
        <a href="{% url 'ver_produto' produto.id cor.id %}">
            <i class="fa-solid fa-circle" style="color: {{ cor.codigo }} ;"></i> <!--Que legal!!!-->
        </a>
        {% endfor %}

        {% if tamanhos %}
            <p>Selecione um tamanho:</p>
            {% for tamanho in tamanhos %}
                <button>{{ tamanho }}</button>
            {% endfor %}
        {% endif %}

        <button>Adicionar ao Carrinho</button>

    {% else %}

        <p>Produto fora de estoque</p>

    {% endif %}

{% endblock %}